[package]
name = "crunchyroll-rs"
version = "0.8.2"
authors = ["Crunchy Labs Maintainers"]
edition = "2021"
description = "Pure Rust implementation of the crunchyroll api."
readme = "README.md"
repository = "https://github.com/crunchy-labs/crunchyroll-rs"
license = "MIT OR Apache-2.0"
keywords = ["crunchyroll", "anime", "downloader"]
categories = ["api-bindings"]

[features]
default = ["hls-stream", "parse"]

# Add functionality to stream episodes / movies, so you can process the unencrypted streaming data further, e.g. write
# it to a file and then play it.
hls-stream = ["dep:aes", "dep:cbc", "dep:m3u8-rs"]
dash-stream = ["dep:dash-mpd"]
# Add functionality to parse Crunchyroll urls.
parse = ["dep:lazy_static", "dep:regex"]
# Add the ability to specify custom middleware.
tower = ["dep:tower-service"]
# Add various stabilizations as Crunchyroll delivers wrong api results in some cases.
experimental-stabilizations = []

# Internal! Do not use it outside of testing
__test_strict = []

[dependencies]
async-trait = "0.1"
chrono = { version = "0.4", features = ["serde"] }
futures-util = { version = "0.3", features = ["std"], default-features = false }
# the patch version number is necessary for the 'reqwest' and 'rustls' dependencies to prevent incompatability errors
# (https://github.com/seanmonstar/reqwest/issues/1837)
reqwest = { version = "0.11.23", features = ["cookies", "json", "rustls-tls"], default-features = false }
rustls = { version = "0.21.6", features = ["dangerous_configuration"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_urlencoded = "0.7"
smart-default = "0.7"
tokio = { version = "1.35", features = ["sync"] }
webpki-roots = "0.26"

crunchyroll-rs-internal = { version = "0.8.2", path = "internal" }

# Optional / required from features
aes = { version = "0.8", optional = true }
cbc = { version = "0.1", optional = true }
dash-mpd = { version = "0.14", default-features = false, optional = true }
lazy_static = { version = "1.4", optional = true }
m3u8-rs = { version = "5.0", optional = true }
regex = { version = "1.10", default-features = false, features = ["std"], optional = true }
tower-service = { version = "0.3.2", optional = true }

[dev-dependencies]
anyhow = "1.0"
once_cell = "1.19"
rand = "0.8"
tokio = { version = "1.35", features = ["macros", "rt", "rt-multi-thread"] }

[workspace]
members = ["internal"]

[package.metadata.docs.rs]
rustdoc-args = ["--cfg", "docsrs"]
all-features = true
