name: documentation

on:
  push:
    branches:
      - master

  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: true

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      # The nightly toolchain is required to show the feature requirement tag in the documentation.
      - name: Install cargo nightly
        run: rustup toolchain install nightly

      - name: Generate
        run: |
          RUSTDOCFLAGS="--cfg docsrs" cargo +nightly doc --no-deps --all-features
          echo '<meta http-equiv="refresh" content="0; url=crunchyroll_rs">' > ./target/doc/index.html

      - name: Setup Pages
        uses: actions/configure-pages@v2

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v1
        with:
          path: ./target/doc

      - name: Deploy
        id: deployment
        uses: actions/deploy-pages@v1
