name: update-credentials

on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  check-version:
    runs-on: ubuntu-latest
    outputs:
      apk_vername: ${{ steps.apk_info.outputs.apk_vername }}
      apk_vercode: ${{ steps.apk_info.outputs.apk_vercode }}
      apk_download_path: ${{ steps.apk_info.outputs.apk_download_path }}
      new_version: ${{ steps.version_check.outputs.new_version }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Fetch lastest apk information
        id: apk_info
        run: |
          # endpoints extracted from https://github.com/vitalygashkov/crextractor
          apk_id="$(curl -X GET -s 'https://ws2-cache.aptoide.com/api/7/apps/search?query=crunchyroll&cdn=web&q=bXlDUFU9YXJtNjQtdjhhLGFybWVhYmktdjdhLGFybWVhYmkmbGVhbmJhY2s9MA&aab=1' | jq '.datalist.list.[0].id')"
          
          if [[ -z "$apk_id" ]]; then
            echo "Failed to fetch apk id"
            exit 1
          fi
          
          apk_info="$(curl -X POST -s -d "identif=id%3A$apk_id&mode=json" https://webservices.aptoide.com/webservices/3/getApkInfo | jq .apk)"
          apk_vername=$(echo "$apk_info" | jq --raw-output .vername)
          apk_vercode=$(echo "$apk_info" | jq --raw-output .vercode)
          apk_download_path=$(echo "$apk_info" | jq --raw-output .path)
          
          echo "apk_vername=$apk_vername" >> $GITHUB_OUTPUT
          echo "apk_vercode=$apk_vercode" >> $GITHUB_OUTPUT
          echo "apk_download_path=$apk_download_path" >> $GITHUB_OUTPUT

      - name: Get apk information used in the library
        id: crate_info
        run: |
          crate_user_agent=$(grep -oP '(?<=const USER_AGENT: &'\''static str = ").+(?=")' src/crunchyroll.rs)
          crate_vername=$(echo "$crate_user_agent" | grep -oP '(?<=ANDROIDTV/).+(?=_)')
          crate_vercode=$(echo "$crate_user_agent" | grep -oP '(?<=_).+(?=\s\()')
          
          echo "crate_vername=$crate_vername" >> $GITHUB_OUTPUT
          echo "crate_vercode=$crate_vercode" >> $GITHUB_OUTPUT

      - name: Compare version
        id: version_check
        run: |
          if [ "${{ steps.apk_info.outputs.apk_vername }}_${{ steps.apk_info.outputs.apk_vercode }}" = "${{ steps.crate_info.outputs.crate_vername }}_${{ steps.crate_info.outputs.crate_vercode }}" ]; then
            echo "Apk version is the same"
            exit 0
          fi
          echo "Newer apk version found"
          
          echo "new_version=true" >> $GITHUB_OUTPUT

  update-credentials:
    runs-on: ubuntu-latest
    needs: check-version
    if: needs.check-version.outputs.new_version == 'true'
    steps:
      - name: Install jadx
        run: |
          JADX_VERSION=$(curl "https://api.github.com/repos/skylot/jadx/releases/latest" | grep -Po '"tag_name": "v\K[0-9.]+')
          
          curl -L -o jadx.zip "https://github.com/skylot/jadx/releases/download/v$JADX_VERSION/jadx-$JADX_VERSION.zip"
          unzip jadx.zip -d jadx
          
          echo "$(pwd)/jadx/bin" >> $GITHUB_PATH

      - name: Download new apk
        run: |
          curl -o crunchyroll-tv.apk "${{ steps.apk_info.outputs.apk_download_path }}"

      - name: Extract apk credentials
        id: credentials
        run: |
          credentials="$(curl -s https://raw.githubusercontent.com/crunchy-labs/crunchyroll-scripts/refs/heads/master/apk-credentials-extract.sh | bash -s crunchyroll-tv.apk --info-stderr)"
          apk_basic_auth_token="$(echo "$credentials" | grep -oP '(?<=basic auth credentials: ).+')"
          
          echo "apk_basic_auth_token=$apk_basic_auth_token" >> $GITHUB_OUTPUT

      - name: Update library source
        run: |
          sed -i -E "s|(pub const BASIC_AUTH_TOKEN: &'static str = "\"").+("\"";)|\1$apk_basic_auth_token\2|g" src/crunchyroll.rs
          sed -i -E "s|(pub const USER_AGENT: &'static str = "\""Crunchyroll/ANDROIDTV/).+( \(.+;)|\1${apk_vername}_${apk_vercode}\2|g" src/crunchyroll.rs

      - name: Create pull request
        uses: peter-evans/create-pull-request@v7
        with:
          title: "Update auth credentials & user-agent"
          body: |
            Update the auth credentials & user-agent to match the latest android tv apk
          base: master
          branch: update-auth
